.Logo {
  z-index: 1;
  line-height: 0ch;
  margin: 10px 10px;
}

.brandMark {
  z-index: 1;
  line-height: 0ch;

  #Pattern {
    fill: hsl(30, 48%, 28%);
  }

  #Splotches {
    fill: var(--ignis);
  }

  // @media (prefers-color-scheme: dark) {
  //   #Pattern {
  //     fill: hsl(29, 48%, 56%);
  //   }

  //   #Splotches {
  //     fill: currentColor;
  //   }
  // }
}